// global configurations
nextflow.enable.dsl=2

// Set a default location to circumvent warning of no initialized value
params {
    outfolder = "/Users/sreenivasan/Desktop"
}

// profile dependendent configurations
conda {
    enabled = true
}
queue = "shortterm"
workDir = "$WORK/bulkrna_nextflow_workdir"
process {
    executor = 'slurm'
    scratch =  '$SCRATCH/' // has to be single quotes. Otherwise it gets expanded before creating a new slurm job
    //conda = "/Users/sreenivasan/miniforge3/envs/NICHES"
    conda = "$WORK/.omics/anaconda3/envs/rnaseq"
    withName: write_params {
        publishDir = [ path: "${params.outfolder}",
                    mode: 'copy' ]
    }
    withName: differential_analysis_on_single_cell {
        publishDir = [ path: "${params.outfolder}/analysis_on_input_sc_obj/", 
                    saveAs: { filename -> "${meta.name}_$filename" },
                    mode: 'copy' ]
    }
    withName: separate_seurat_object {
        publishDir = [ path: "${params.outfolder}/separated_seurat_objects/", 
                    saveAs: { filename -> "${meta.name}_${separate_rds_value}_$filename" },
                    mode: 'copy' ]
    }
    withName: impute_by_alra {
        publishDir = [ path: "${params.outfolder}/imputed_by_alra/", 
                    saveAs: { filename -> "${meta.name}_${meta.part}_$filename" } ]
    }
    withName: do_niches {
        publishDir = [ path: "${params.outfolder}/NICHES/", 
                    saveAs: { filename -> "${meta.name}_${meta.part}_$filename" },
                    mode: 'copy' ]
    }
    withName: do_diff_niches {
        publishDir = [ path: "${params.outfolder}/diff_NICHES/", 
                    saveAs: { filename -> "${meta.name}_$filename" },
                    mode: 'copy']
    }
    withName: seurat_to_scanpy {
        publishDir = [ path: "${params.outfolder}/scanpy_objects_for_liana/", 
                    saveAs: { filename -> "${meta.name}_${meta.part}_$filename" },
                    mode: 'copy' ]
    }
    withName: diff_seurat_to_scanpy {
        publishDir = [ path: "${params.outfolder}/scanpy_objects_for_diff_liana/", 
                    saveAs: { filename -> "${meta.name}_$filename" },
                    mode: 'copy' ]
    }
    withName: do_liana {
        publishDir = [ path: "${params.outfolder}/liana/", 
                    saveAs: { filename -> "${meta.name}_${meta.part}_$filename" },
                    mode: 'copy' ]
        conda = "$WORK/.omics/anaconda3/envs/liana"
    }
    withName: do_diff_liana {
        publishDir = [ path: "${params.outfolder}/diff_liana/", 
                    saveAs: { filename -> "${meta.name}_$filename" },
                    mode: 'copy' ]
        // conda = "/Users/sreenivasan/miniforge3/envs/liana_dev"
        conda = "$WORK/.omics/anaconda3/envs/liana"
    }

}


